.size {
    font-family: "Vazirmatn", sans-serif;
    padding: 24px;
    max-width: 800px;
    margin: auto;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.toman {
    display: none;
}

.transaction {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button-transaction {
    background-color: rgba(14, 51, 243, 1);
    border: 0;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 40px;
    font-weight: bold;
    color: #6B7580;
    border-bottom: 1px solid #A0CCF8;
    padding: 10px 5px;
    font-size: 14px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 40px;
    align-items: center;
    padding: 15px 5px;
    font-size: 14px;
}

.transaction-income {
    color: #3EBD93;
    font-weight: 500;
   
}

.transaction-expense {
    color: #EF4E4E;
    font-weight: 500;
    
}

.not {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: #6B7580;
    gap: 10px;
}

.delete-btn {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .header {
        gap: 15px;

    }

    .toman {
        display: inline;
        margin-right: 4px;
    }

    .transaction {
        text-align: right;
    }



    .title {
        display: none;
    }

    .info-parent {
        border-bottom: none;
        margin-bottom: 12px;
    }

    .info {
        display: grid;
        background-color: #FAFAFB;
        padding: 16px;
        border-radius: 12px;
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "desc amount"
            "date delete";
        gap: 10px;
    }

    .transaction-date {
        grid-area: date;

        text-align: right !important;
        font-weight: bold;
        color: #242D35;
        white-space: normal !important;
    }

    .transaction-income,
    .transaction-expense {
        grid-area: amount;
        text-align: left !important;
        font-size: 16px;
        font-weight: 700;
        align-self: start;
    }

    .transaction-description {
        grid-area: desc;

        color: #242D35;
        font-size: 16px;
        text-align: right !important;
        align-self: end;
    }

    .delete-btn {
        grid-area: delete;
        justify-content: flex-end;
        align-self: end;
    }
}