.size {
    font-family: "Vazirmatn", sans-serif;
    padding: 24px;
    max-width: 800px;
    margin: auto;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.toman {
    display: none;
}

.transaction {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button-transaction {
    background-color: rgba(14, 51, 243, 1);
    border: 0;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 40px;
    font-weight: bold;
    color: #6B7580;
    border-bottom: 1px solid #A0CCF8;
    padding: 10px 5px;
    font-size: 14px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 40px;
    align-items: center;
    padding: 15px 5px;
    font-size: 14px;
}

.transaction-income {
    color: #3EBD93;
    font-weight: 500;

}

.transaction-expense {
    color: #EF4E4E;
    font-weight: 500;

}

.not {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: #6B7580;
    gap: 10px;
}

.delete-btn {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.popup-menu {
    position: absolute;
    top: 25px;
    left: 0;
    width: 120px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    border-radius: 6px;
    z-index: 1000;
}

.popup-menu-item {
    background: transparent;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.1s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.popup-menu-item:hover {
    background-color: #f5f5f5;
}

.menu-container {
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .header {
        gap: 15px;
    }

    .toman {
        display: inline;
        margin-right: 4px;
    }

    .transaction {
        text-align: right;
    }

    .title {
        display: none;
    }

    .info-parent {
        border-bottom: none;
        margin-bottom: 12px;
    }

    .info {
        display: grid;
        background-color: #FAFAFB;
        padding: 16px;
        border-radius: 12px;
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "desc amount"
            "date more";
        gap: 10px;
    }

    .transaction-date {
        grid-area: date;
        text-align: right ;
        font-weight: bold;
        color: #242D35;
        white-space: normal 
    }

    .transaction-income,
    .transaction-expense {
        grid-area: amount;
        text-align: left ;
        font-size: 16px;
        font-weight: 700;
    }

    .transaction-description {
        grid-area: desc;
        color: #242D35;
        font-size: 16px;
        text-align: right;
    }

    .more-btn {
        grid-area:more;
        justify-content: flex-end;
        text-align: end;
    }
}